@import url(//db.onlinewebfonts.com/c/2c38481447f52932e780d7793abe8022?family=Fraunces+144pt+S050);
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
    margin-top: 0;
    
}
:root {
    --darkPurple: rgba(36, 5, 62, 1);
    --eucaplyptus: rgba(68, 255, 161, 1);
    --davysGrey:rgba(88, 77, 98, 1);
    --ghostWhite: rgba(252, 248, 255, 1);
    --white: rgba(255, 255, 255, 1);
    --fraunces: 'Fraunces', serif;
    --manrope: 'Manrope', sans-serif;
}



.flex-container{
    background-color: var(--darkPurple);
    display: flex;
    padding: 40px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: space-between;
    
  
}
.button{
    text-decoration: none;
    border: none;
    border-bottom: 3px solid var(--eucaplyptus);
    font-family: var(--manrope);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--darkPurple);
    color: white;
    padding: 3px;

}
.button:hover{
    color: var(--eucaplyptus);
}
h1{
    text-align: center;
    font-family: var(--fraunces);
    font-size: 80px;
    font-weight: 600;
    flex-direction: column;

}
.header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: white;
    background-color: var(--darkPurple);
    margin-left: 100px;
    margin-right: 100px;
    height: 561px;
    
    
}
.tailored{
    border-bottom: 3px solid var(--eucaplyptus);
}
.learn-more{
    border: 3px solid var(--eucaplyptus);
    font-size: 18px;
    font-weight: 700;
    font-family: var(--manrope);
    width: 133px;
    height: 55px;
    color: var(--darkPurple);
    background-color: var(--eucaplyptus);
}
.learn-more:hover{
    background-color: var(--darkPurple);
    color: var(--eucaplyptus);
}
.image-grid{
    display: grid;
    grid-template-columns: auto;
    
    
}
.phone{
    scale: 50%;
    bottom: 176px;
    position: relative;
    
    

}
.oval{
    height: 561px;
    background: var(--darkPurple);
    border-radius: 531px / 61px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    z-index: -1;
    transform: translateY(-86%)
}
.numbering-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}.numbering-item{
    display: flex;
}
